/* OVERWRITING */

/* buttons */

button,
.button,
a.button {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: .782rem;
}

/* logo */

.logo__text {
    font-size: 1rem;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.logo__cursor {
    background-image: url("https://tirelli.micro.blog/uploads/2020/65cd33c96b.jpg");
    background-size: cover;
    /* background: #666; */
    animation: cursor 10s infinite;
    width: 1rem;
}


/* menu */

.menu{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: .782rem;
}


/* main */

html {
    font-size: 20px;
}

body {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 500;
    border: solid black .5rem;
    background-color: white;
    color: black;
}

body.dark-theme {
    border: solid white .5rem;
    background-color: black;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    letter-spacing: -1px;
}

.intro-text {
    background-image: url("https://tirelli.micro.blog/uploads/2020/15c292d2ea.svg");
    background-repeat: no-repeat;
    background-size: 12%;
    background-position: top 1rem;
    padding-left: 20%;
    text-align: left;
    margin-left: 5%;
    padding-bottom: 1rem;
}


/* post */
.post img {
    border: solid black .5rem;
}

body.dark-theme .post img {
    border: solid white .5rem;
}


.post-meta {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: .782rem;
}

/* pagination */
.pagination__title-h {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: .782rem;
}

/* footer */

.footer__inner .logo__text, .footer__inner .logo__cursor, .footer, .footer span {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: .782rem;
}